<section class="breadcrumbs-box">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4>Blog</h4>
      </div>
      <div class="col-md-6">
        <ul class="clean-list to-right breadcrumb-items">
          <li><a href="index.html">Home</a></li>
          <li><span>Blog</span></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="box white">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <aside class="main-sidebar right-sidebar">
          <div class="widget-item">
            <form action="#" class="row no-padding">
              <p class="col-md-12">
                <i class="icon-335 text-dark-blue to-right"></i>
                <input type="text" class="round-corners" name="demo_input" placeholder="Search">
              </p>
            </form>
          </div>
          <div class="widget-item">
            <ul class="row no-padding social-widget">
              <li class="col-md-4 col-xs-4">
                <a href="#" class="shape-square social-facebook"><i class="icon-161 font-2x"></i></a>
                <span>23</span>
              </li>
              <li class="col-md-4 col-xs-4">
                <a href="#" class="shape-square social-twitter"><i class="icon-157 font-2x"></i></a>
                <span>160</span>
              </li>
              <li class="col-md-4 col-xs-4">
                <a href="#" class="shape-square social-dribbble"><i class="icon-146 font-2x"></i></a>
                <span>19</span>
              </li>                 
            </ul>
          </div>
          <div class="widget-item">
            <h4>Categories</h4>
            <ul class="clean-list">
              <li><a href="#">Blueprint</a></li>
              <li><a href="#">Logo design</a></li>
              <li><a href="#">Webdesign theory</a></li>
              <li><a href="#">Free resources</a></li>
            </ul>
          </div>
          <div class="widget-item">
            <h4>Recent posts</h4>
            <ul class="clean-list recent-posts">
              <li>
                <div class="row no-padding">
                  <div class="col-xs-3">
                    <figure>
                      <a href="#">
                        <img src="http://placehold.it/300x300" alt="recent posts">
                      </a>
                    </figure>
                  </div>
                  <div class="col-xs-9">
                    <a href="#">Lorem ipsum dolor sit amet</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="row no-padding">
                  <div class="col-xs-3">
                    <figure>
                      <a href="#">
                        <img src="http://placehold.it/300x300" alt="recent posts">
                      </a>
                    </figure>
                  </div>
                  <div class="col-xs-9">
                    <a href="#">Lorem ipsum dolor sit amet</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="row no-padding">
                  <div class="col-xs-3">
                    <figure>
                      <a href="#">
                        <img src="http://placehold.it/300x300" alt="recent posts">
                      </a>
                    </figure>
                  </div>

                  <div class="col-xs-9">
                    <a href="#">Lorem ipsum dolor sit amet</a>
                  </div>
                </div>
              </li>
                    
            </ul>
          </div>
          <div class="widget-item">
            <figure class="ads-item text-center">
              <a href="#" class="transition-short">
                <img src="http://placehold.it/400x400" alt="My banner">
              </a>
            </figure>
          </div> <!-- /.widget-item -->

          <div class="widget-item">
            <h4>Tags</h4>
            <ul class="inline-list tag-list">
              <li>
                <a href="#" class="button-sm dark-blue">Design</a>
              </li>
              <li>
                <a href="#" class="button-sm dark-blue">Art</a>
              </li>
              <li>
                <a href="#" class="button-sm dark-blue">Color</a>
              </li>
              <li>
                <a href="#" class="button-sm dark-blue">Music</a>
              </li>
              <li>
                <a href="#" class="button-sm dark-blue">Responsive</a>
              </li>
              <li>
                <a href="#" class="button-sm dark-blue">Design</a>
              </li>
            </ul>
          </div>
        </aside>   
      </div>
      <div class="col-md-9">
        <ul class="clean-list row blog-post">
          <%= render partial: "shared/feed", locals: {micropost: @feed_items} %>
        </ul>
        <div class="row">
          <div class="col-md-12">
            <ul class="inline-list center-me pagination-links">
              <li><a href="#">Prev</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><span>...</span></li>
              <li><a href="#">125</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>