<li class="col-md-4 col-sm-6">
  <figure>
    <a href="team-single.html" class="shape-round hover-move-top transition-short">
      <img src="http://placehold.it/500x500" alt="Team member">
    </a>
  </figure>
  <h4 class="text-center"><a href="#" class="text-dark-blue hover-text-blue"><%= link_to user.name, user %></a></h4>
  <ul class="category clean-list text-center">
    <li><i><%= user.email %></i></li>
  </ul>
  <ul class="inline-list social-links center-me row">
    <li><a href="#" title="facebook" class="blue hover-red hover-text-white transition-short text-white shape-square"><i class="icon-161"></i></a></li>
    <li><a href="#" title="twitter" class="blue hover-red hover-text-white transition-short text-white shape-square"><i class="icon-157"></i></a></li>
    <li><a href="#" title="twitter" class="blue hover-red hover-text-white transition-short text-white shape-square"><i class="icon-146"></i></a></li>
    <li><a href="#" title="twitter" class="blue hover-red hover-text-white transition-short text-white shape-square"><i class="icon-127"></i></a></li>
  </ul>
</li>
