<header class="main-header clearfix">
  <div class="header-bar">    
  </div>
  <div class="nav-bar sticky-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <figure class="logo">
            <a href="index.html">
              <%= image_tag(image_path("logo.png")) %>
            </a>
          </figure>
        </div>
        <div class="col-md-10">
          <nav class="main-nav clearfix">
            <ul class="clean-list to-right">
              <li class="current-menu-item">
                <a href="index.html">Home</a>
                <ul>
                  <li><a href="home-two.html">Home business</a></li>
                  <li><a href="home-blog.html">Home Blog</a></li>
                  <li><a href="home-one-page.html">Home one page</a></li>
                </ul>
              </li>
              <li>
                <a href="features.html">Features</a>
                <ul>
                  <li><a href="feature-grid.html">Grid</a></li>
                  <li><a href="feature-typo.html">Typography</a></li>
                  <li><a href="feature-buttons.html">Buttons</a></li>
                  <li><a href="feature-alerts.html">Alerts</a></li>
                  <li><a href="feature-form.html">Form</a></li>
                  <li><a href="feature-icons.html">Icons</a></li>
                  <li><a href="feature-quote.html">Quote</a></li>
                  <li><a href="feature-table.html">Table</a></li>
                  <li><a href="feature-dividers.html">Dividers</a></li>
                  <li><a href="feature-accordion.html">Accordion</a></li>
                  <li><a href="feature-pricing.html">Pricing tables</a></li>
                  <li><a href="error.html">Eror 404 page</a></li>
                </ul>
              </li>
              <li>
                <a href="portfolio.html">Works</a>
                <ul>
                  <li><a href="portfolio-grid.html">Portfolio Gallery</a></li>
                  <li><a href="portfolio-grid-two.html">Portfolio Grid</a></li>
                  <li><a href="portfolio-single.html">Single Portfolio</a></li>
                </ul>
              </li>
              <li>
                <a href="team.html">Team</a>
                <ul>
                  <li><a href="team-single.html">Single member</a></li>
                </ul>
              </li>
              <li>
                <a href="blog.html">Blog</a>
                <ul>
                  <li><a href="blog-list.html">Blog List Sidebar</a></li>
                  <li><a href="blog-two-sidebar.html">Blog Two sidebars</a></li>
                  <li><a href="blog-list-full.html">Blog List full</a></li>
                  <li><a href="blog-two-col.html">Blog two col</a></li>
                  <li><a href="blog-three-col.html">Blog three col</a></li>
                  <li><a href="single-blog.html">Single Post</a></li>
                  <li><a href="single-blog-two.html">Single Post Two</a></li>
                </ul>
              </li>
              <li><a href="contacts.html">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
